@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base { 
  html{
    color-scheme: dark light;
  }
  :root {
    @apply bg-gray-100
  }
  @media (prefers-color-scheme: dark) {
    :root {
      @apply bg-zinc-800
    }
    .accent-title{
      @apply text-yellow-500
    }
    body{
      background: radial-gradient(
        circle at 33% 100%,
        #0c0829 4%,
        #0e0451,
        #130b2a,
        #0e031e,
        #090f47
      );
    }
  }
  header{
    @apply
    flex
    flex-col
    items-center
    justify-center
    h-screen
    max-w-4xl
    mx-auto
  }

  header > div#down {
    @apply 
    absolute 
    bottom-0 
    right-2/4 
    text-6xl
    rotate-90
  }

  header > div#down {
   letter-spacing: -0.5em;
  }

  header>h1{
    @apply
    text-5xl
  }

  header>h2{
    @apply
    text-2xl
  }


  #down {
    position: absolute;
    animation: rebota 1s alternate infinite ease-out;
  }
  
  @-webkit-keyframes rebota {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 20px;
    }
  }


  h3{
    @apply
    text-3xl
    my-8
  }

  h4{
    @apply
    text-2xl
    my-2
  }

  p{
    @apply
    my-2
  }

  main{
    @apply
    mx-auto
    sm:max-w-4xl

  }

  main>section{
    @apply
    min-h-screen
  }

  main>section#me{
    @apply
    flex
    flex-col
    sm:grid
    sm:grid-cols-2
  }
  main>section#me>article{
    @apply
    flex
    flex-col
    items-center
    justify-center
    p-8
  }

  main>section#me>img{
    @apply  object-cover h-auto
  }

  main>section>img{
    @apply
    h-screen
  }

  main>section#skills{
    @apply
    flex
    flex-col
    items-center
    justify-center
    p-8
  }

  section#stack{
    @apply flex 
  }

  section#stack>ul{
    @apply
    w-full
    grid 
    gap-4 
   
  }

  .custom-grid-stacks{
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 5rem),1fr));
  }

 section#stack>ul>li{
    @apply flex flex-col items-center shadow 
    shadow-gray-500
    p-2
  }

  section#stack>ul>li>img{
    @apply mx-4 
  }

  main>section#portfolio{
    @apply
    flex
    flex-col
    p-8
  }

  .custom-grid{
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 16rem),1fr));
  }

  main>section#portfolio>section.portfolio-cards{
    @apply
    flex
    flex-col
    items-center
    sm:grid 
    gap-4 
  }


  .card{
    @apply
    shadow
    shadow-gray-500
    p-2
  }
  .card>img{
    @apply
    w-full
    bg-cover
  }
  .card>a{
    @apply
    block
    w-fit
    ml-auto
  }

  main>section#exp{ 
    @apply 
    h-full
    p-8
  }

  main>section#exp>section>article{ 
    @apply 
    my-6
    mx-8
  }

  main>section#exp>section>article>ul{ 
    @apply 
    my-6
    mx-8
  }

  main>section#exp>section>article>h4{ 
    @apply 
    text-xl
    font-bold
  }

  main>section#contact{ 
    @apply 
    h-full
  }

  footer{
    @apply p-8
  }

  footer>h2{
    @apply text-2xl
  }

  footer>ol{
    @apply flex sm:justify-center w-full flex-wrap
  }

  footer>ol>li{
    @apply px-16 py-8
  }

  nav{
    @apply
    top-0
    fixed
    w-full

  }

  nav>ul{
    @apply
    bg-slate-900
    text-white
    flex
    justify-around
    pb-1
  }

  nav>ul>li{
    @apply 
    capitalize 
    rounded-b
    px-2 
    py-2 
    transition-all
    hover:bg-blue-800
    hover:text-white
  }

  
  
}